<title>Ingresar Nueva Contraseña</title>
<link href="{% static 'estilos/css/styles.css' %}" rel="stylesheet" />
<div class="card-header"><h3 class="text-center font-weight-light my-4">Ingresa tu nueva contraseña</h3></div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}

        <label for="id_new_password1">Nueva contraseña</label>
        <div class="form-floating mb-3">{{ form.new_password1 }}</div>
        
        <label for="id_new_password2">Confirmar nueva contraseña</label>
        <div class="form-floating mb-3">{{ form.new_password2 }}</div>

        {% if form.errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="d-flex align-items-center justify-content-end mt-4 mb-0">
            <input class="btn btn-primary" type="submit" value="Cambiar contraseña">
        </div>
    </form>
</div>