<title>Enlace Enviado</title>

<div class="card-header"><h3 class="text-center font-weight-light my-4">¡Enlace Enviado!</h3></div>
<div class="card-body">
   <p>
        Si encontramos un correo asociado a tu cuenta, 
        te hemos enviado las instrucciones para establecer tu nueva contraseña.
        Revisa tu bandeja de entrada y spam.
    </p>
    <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
        <a class="small" href="{% url 'login' %}">Volver al inicio de sesión</a>
    </div>
</div>